<h2>Course Listing</h2>

<ul>
    <li>Code: CS111</li>
    <li>Name: Intro to Computer Science</li>
    <li>Description: A thorough intro to Computer Science</li>
</ul>

<ul>
    <li>Code: CS111</li>
    <li>Name: Intro to Computer Science</li>
    <li>Description: A thorough intro to Computer Science</li>
</ul>



<p>Materialize Button</p>
 
<a class="waves-effect waves-light btn">button</a>
<button>"waves-effect waves-light btn"</button>


<nav>
<div class="nav-wrapper">
  <a href="#" class="brand-logo">Logo</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">JavaScript</a></li>
  </ul>
</div>
</nav>
    